<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
</head>
<body>
<h2>Registro de Usuario</h2>
<form th:action="@{/registro}" th:object="${usuario}" method="post">
    <div>
        <label>Username:</label>
        <input type="text" th:field="*{username}" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" th:field="*{password}" />
    </div>
    <div>
        <button type="submit">Registrarse</button>
    </div>
</form>
</body>
</html>
